.container-product-page {
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 1280px;
    margin: 0 auto;
}

a{
    color:  black;
    text-decoration: #F9F871;
    margin: 10px 0;
    border-bottom: 1px solid black;
    width: 130px;
}

html {
    background: linear-gradient(90deg, #FF885E 25%, #F9F871 25%);
}

button {
    cursor: pointer;
    background-color: Transparent;
    border-radius: 48%;
    width: 120px;
    height: 30px;
    border: 1px solid black;
    margin-top: 20px;
    
  
}

.Nav{
    width: 100%;
    margin-top: 300px;
}

.Nav-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    
}

.Welcome{
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    margin-top: 200px;
    
}

.Welcome h1 {
    text-align: center;
    
}

@media(max-width: 500px) {
    html{
        background: #FF885E;
    }
}

@media(max-width: 500px) {
    .container-product-page {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media(max-width: 500px) {
    .Nav-header{
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding: 0;
        width:110%;
        top:0;
        
    }
}

@media(max-width: 500px) {
    .Welcome{
        margin-left: 0px;
        padding: 0;
        width: 50%;

    }
}

@media(max-width:500px) {
    button{
        margin-left: 100px;
        padding: 0px;
        margin-bottom: 200px;
        
    }
}

@media(max-width:500px) {
    .Welcome h1 {
        margin-left: 100px;
        width:100%;
        
    }
}

@media(max-width:500px) {
    .Welcome h2 {
        
        margin-left: 125px;
        
    }
}

@media(max-width:500px) {
    a{
        padding: 5px;
    
    }
}