.container-product-page {
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 1280px;
    margin: 0 auto;
}

a{
    color:  black;
    text-decoration: #F9F871;
}

html {
    background: linear-gradient(90deg, #FF885E 25%, #F9F871 25%);
}

button {
    
    background-color: Transparent;
    border-radius: 32%;
    width: 90px;
    border: 1px solid black;
    
  
}

.Nav-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    padding-right: 20px;
    
}

.Welcome{
    display: flex;
    flex-direction: column;
    padding-left: 200px;
}

.Welcome h1 {
    text-align: center;
}

