.container_What_We_Do-page {
    display: flex;
    flex-direction: row;
    justify-items: center;
    width: 1280px;
    margin: 0 auto;
}

a{
    color:  black;
    text-decoration: #F9F871;
    border-bottom: 1px solid black;
    width: 25%;
    margin: 10px 0;
}

html {
    background: linear-gradient(90deg, #FF885E 25%, #F9F871 25%);
}

.Nav{
    width: 100%;
    margin-top: 300px;
}


.Nav-header {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-bottom: 0px;
    
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 200px;
    margin-top: 150px;
}

.Top h1{
    text-align: center;
}

table{
    margin-top: 80px;
    margin-left: 0px;
    border: 1px solid black;
    padding: 20px;
    border-spacing: 50px 100px;
    background-color: lightgrey;
}
